<!-- <div fxLayout="column"> -->
    <!-- <mat-toolbar color="primary" fxFlex="7vh" class="header">
      <span>{{ title }}</span>
    </mat-toolbar> -->
    
    
    <!-- <div fxFlex="93vh"> -->
      <div fxLayout="row">
        <div fxFlex="70vw">
          <div fxLayout="column">
            <div id="middle-layer" fxFlex="70vh" class="chart" style="border: 3%">
              test
            </div>
  
            <div fxFlex="23vh" class="trading-info">
              test2
            </div>
          </div>
        </div>
        
  
        <div fxFlex="27vw" class="news">
          testtest
        </div> 
      </div>
    <!-- </div> -->
<!-- </div> -->
  